:root {
    --main-font-color: #585563;
    --green: #5D9D8F;
    --light-cream: #F8F5F0;
    --pink: #fdd4c6;
    --main-grey: #f0f0f0;
    --hover-grey: #e0e0e0d1;

    --box-shadow-thin-grey: 1px 1px 3px #d4d4d4, -1px 1px 3px #dfdfdf;
    --box-shadow-med-grey: 3px 3px 5px #d4d4d4, -3px 3px 5px #dfdfdf;
    --box-shadow-med-dark: 3px 3px 5px #58556353, -3px 3px 5px #58556353;
    --box-shadow-thick-green: 3px 3px 8px #3d685e4d, -3px 3px 8px #3d685e4d;
}

body {
    color: var(--main-font-color);

    background-image: url("img/tropical-bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
}

button:hover {
    cursor: pointer;
}

/******************************************************************************/
/* Selectors for the main section start here.
/******************************************************************************/

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

/******************************************************************************/
/* Selectors for the overlay start here.
/******************************************************************************/

.overlay {
    width: 100%;
    height: 100%;

    background-color: var(--main-font-color);
    opacity: 0.3;

    position: fixed;

    z-index: 0;
}

/******************************************************************************/
/* Selectors for the home page start here.
/******************************************************************************/

.home-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.home-page h2 {
    font-size: 3rem;
}

.play {
    font-size: 1.5rem;

    padding: 4px 16px;

    background-color: white;
    border: none;
    border-radius: 16px;
    box-shadow: var(--box-shadow-thin-grey);

    transition-duration: 0.4s;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.play:hover {
    color: white;
    
    background-color: var(--green);
}

.play img {
    width: 1.5rem;
}

.play .white {
    display: none;
}

/******************************************************************************/
/* Selectors for the players page start here.
/******************************************************************************/

.players-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

/* Selectors for the back button start here. */

.back {
    padding: 4px 16px;

    background-color: white;
    border: none;
    border-radius: 16px;
    box-shadow: var(--box-shadow-thin-grey);

    transition-duration: 0.4s;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.back:hover {
    color: white;
    
    background-color: var(--green);
}

.back img {
    width: 1rem;
}

.back .white {
    display: none;
}

/* Selectors for the form start here. */

form {
    padding: 64px 32px;
    
    background-color: white;
    border-radius: 16px;
    box-shadow: var(--box-shadow-thick-green);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

form > button {
    margin-top: 24px;

    padding: 4px 16px;
    
    background-color: white;
    border: none;
    border-radius: 16px;
    box-shadow: var(--box-shadow-thin-grey);

    transition-duration: 0.4s;
}

form > button:hover {
    color: white;

    background-color: var(--green);

    transition-duration: 0.4s;
}

/* Selectors for the players start here. */

.players {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.players .player-one,
.players .player-two {
    padding: 8px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

/* Selectors for the player icons start here. */

.player-icons {
    position: relative;
}

.player-icons .img-container {
    padding: 40px;

    border: 2px solid var(--main-grey);
    border-radius: 50%;
}

.player-icons img[src*="png"] {
    width: 75px;
}

img[src*="pencil"] {
    width: 1.5rem;
}

button.left {
    width: 30px;
    height: 32px;
    
    margin-top: auto;
    margin-bottom: auto;
    
    border: none;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    
    position: absolute;
    top: 0;
    bottom: 0;
    left: 2px;

    display: flex;
    justify-content: flex-start;
    align-items: center;

    transition-duration: 0.2s;
}

button.right {
    width: 30px;
    height: 32px;
    
    margin-top: auto;
    margin-bottom: auto;
    
    border: none;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    
    position: absolute;
    top: 0;
    bottom: 0;
    right: 2px;

    display: flex;
    justify-content: flex-end;
    align-items: center;

    transition-duration: 0.2s;
}

button.left:hover,
button.right:hover {
    background-color: var(--hover-grey);

    transition-duration: 0.2s;
}

/* Selectors for the player name settings start here. */

.name-settings {
    margin-top: 8px;

    position: relative;
}

input {
    padding: 2px 20px 2px 5px;

    background-color: white;
    border: none;
    border-radius: 8px;
    box-shadow: var(--box-shadow-thin-grey);
}

input:focus {
    outline-color: var(--green);
}

label {
    height: 40px;
    
    padding: 8px;
    
    margin-top: auto;
    margin-bottom: auto;

    background-color: var(--light-cream);
    border-radius: 8px;
    box-shadow: var(--box-shadow-thin-grey);

    position: absolute;
    top: 0;
    bottom: 0;
    right: -1px;
}

/******************************************************************************/
/* Selectors for the game page start here.
/******************************************************************************/

.game-page {
    padding: 56px;

    background-color: white;
    border-radius: 16px;
    box-shadow: var(--box-shadow-thick-green);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

/* Selectors for the heading start here. */

.game-page .heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.game-page .heading p {
    font-size: 1.1rem;
}

/* Selectors for the main content of the game page start here. */

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

/* Selectors for the game play section start here. */

.game-play {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 48px;
}

/* Selectors for the players start here. */

.game-play .player-one,
.game-play .player-two {
    padding: 16px;

    background-color: var(--light-cream);
    border-radius: 16px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.game-play .player-one .img-container,
.game-play .player-two .img-container {
    padding: 24px;

    background-color: white;
    border: 2px solid white;
    border-radius: 50%;
}

.game-play .player-one img,
.game-play .player-two img {
    width: 85px;
}

.name {
    width: 150px;

    text-align: center;
    
    padding: 4px 16px;

    background-color: var(--pink);
    border-radius: 16px;
}

.score {
    font-size: 1.3rem;
}

/* Selectors for the game board start here. */

.game-board {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.space {
    width: 85px;
    height: 85px;

    font-size: 1.3rem;

    background-color: #efebe3;
    border: none;
    border-radius: 8px;
}

.space:hover {
    background-color: #e0dcd4;
}

/* Selectors for the home popup start here. */

.home-popup {
    width: 250px;
    height: 150px;

    text-align: center;

    margin: auto;

    background-color: white;
    border-radius: 16px;
    box-shadow: var(--box-shadow-med-dark);

    position: fixed;
    top: 30px;
    right: 0;
    bottom: 0;
    left: 0;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.home-popup .buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.home-popup .buttons button {
    width: 48px;
    
    padding: 2px 4px;

    background-color: var(--main-grey);
    border: none;
    border-radius: 8px;
    box-shadow: var(--box-shadow-thin-grey);
}

.home-popup .buttons button:hover {
    background-color: var(--hover-grey);
}

/* Selectors for the buttons start here. */

.content > .buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.content > .buttons button {
    padding: 8px;

    background-color: var(--main-grey);
    border: none;
    border-radius: 50%;
    box-shadow: var(--box-shadow-thin-grey);
}

.content > .buttons button:hover {
    background-color: var(--hover-grey);
}

.content > .buttons img {
    width: 1.3rem;
}